################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MENACE/.vs/MENACE/v15/Browse.VC.opendb
